# Assighment 3

* Explain linear regression in your own words *
Bij een lineaire regressie maak je eigenlijk een passend model bij de data die je hebt. Dit model voorspelt eigenlijk de waarde van een afhankelijke variabele op basis van de waarde van  van een onafhankelijke variable. Dit wordt ook wel een verklarende of een voorspellende variable genoemd. Een rechtlijnige regressie is een rechte lijn in een spreidingsdiagram die zo dicht mogelijk bij de punten in de grafiek ligt.

In [12]:
import pandas as pd
import seaborn as sns
import sklearn as sk
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

step_data = pd.read_csv("steps.csv", sep=";")
survey_data = pd.read_csv('survey.csv')

* Create dummy variables for the categorical variables: *

In [2]:
df=survey_data.merge(step_data, on= "id")
df.head(40)

,id,city,gender,age,hh_size,education,education_1,height,weight,20-6-2013,...,4-5-2014,5-5-2014,6-5-2014,7-5-2014,8-5-2014,9-5-2014,10-5-2014,11-5-2014,12-5-2014,13-5-2014
0,1,Bordeaux,Male,25-34,4,4,Master or doctorate,178.0,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Lille,Male,35-44,1,3,Bachelor,180.0,77.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Montpellier,Male,25-34,2,2,Master or doctorate,180.0,83.0,NaN,...,3914.0,4364.0,NaN,NaN,NaN,6227.0,4567.0,2567.0,1129.0,NaN
3,4,Lyon,Male,<25,1,1,Bachelor,178.0,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Montpellier,Female,25-34,3,4,Bachelor,167.0,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Lille,Male,35-44,1,1,Vocational,170.0,63.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Montpellier,Male,25-34,2,2,Master or doctorate,175.0,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,Bordeaux,Female,25-34,3,4,Master or doctorate,165.0,88.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Lille,Female,35-44,4,4,Vocational,172.0,69.0,NaN,...,11436.0,7899.0,11731.0,14151.0,NaN,3996.0,2556.0,302.0,2442.0,NaN
9,10,Lille,Female,25-34,2,2,Master or doctorate,165.0,93.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Bordeaux,Female,<25,2,2,Bachelor,169.0,61.0,NaN,...,3068.0,11339.0,2534.0,2073.0,1372.0,6227.0,5632.0,1211.0,8312.0,NaN
11,12,Bordeaux,Female,45-54,3,3,Vocational,162.0,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Lyon,Male,25-34,2,2,Master or doctorate,176.0,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,Lille,Male,45-54,1,1,Master or doctorate,170.0,83.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Lille,Female,55-64,1,1,Vocational,158.0,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Lille,Male,25-34,2,2,Bachelor,182.0,68.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Lyon,Male,25-34,1,2,Bachelor,174.0,68.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Bordeaux,Male,35-44,4,4,Master or doctorate,170.0,83.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,Lille,Male,25-34,3,4,Bachelor,179.0,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,Lille,Female,55-64,2,2,Master or doctorate,160.0,54.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Bordeaux,Male,25-34,2,3,Bachelor,186.0,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Bordeaux,Female,45-54,4,4,Master or doctorate,170.0,73.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Bordeaux,Male,25-34,1,2,Master or doctorate,175.0,70.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,Montpellier,Male,25-34,3,4,Bachelor,183.0,78.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,Lille,Male,55-64,5,4,Master or doctorate,166.0,73.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,Lille,Male,35-44,4,4,High school,185.0,140.0,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,Lille,Female,55-64,1,1,Master or doctorate,175.0,72.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,Lille,Female,35-44,3,3,Bachelor,162.0,58.0,NaN,...,11975.0,24014.0,3059.0,10883.0,8939.0,7235.0,16744.0,20492.0,3607.0,NaN
28,29,Lille,Female,35-44,1,1,Bachelor,160.0,52.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,Lille,Female,<25,2,2,Vocational,157.0,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,Lille,Male,25-34,2,2,High school,187.0,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,Lille,Male,25-34,1,1,Master or doctorate,179.0,80.0,NaN,...,NaN,NaN,NaN,15148.0,7026.0,33379.0,22620.0,27172.0,7362.0,NaN
32,33,Bordeaux,Female,<25,3,4,Bachelor,153.0,47.0,NaN,...,6485.0,9899.0,422.0,8527.0,NaN,NaN,NaN,NaN,NaN,NaN
33,34,Montpellier,Female,25-34,1,1,Bachelor,155.0,54.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,Lille,Female,45-54,3,4,Bachelor,163.0,58.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,Lille,Male,25-34,3,4,Bachelor,182.0,88.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37,Bordeaux,Male,<25,5,5,High school,180.0,87.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,Lille,Female,35-44,3,4,Vocational,169.0,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,39,Lille,Male,45-54,1,2,Master or doctorate,195.0,90.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,40,Lille,Male,25-34,1,1,Bachelor,186.0,90.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_sub=df[['gender', 'age', 'education', 'weight']]
df_sub.head()

   gender    age  education  weight
0    Male  25-34          4    98.0
1    Male  35-44          3    77.0
2    Male  25-34          2    83.0
3    Male    <25          1    80.0
4  Female  25-34          4    61.0

In [4]:
df_sub['age'].value_counts()

25-34    426
35-44    178
45-54    147
<25      125
55-64     46
65+        7
Name: age, dtype: int64

In [5]:
df = pd.get_dummies(df_sub,columns=['age'],drop_first= True)
df.head()

,gender,education,weight,age_35-44,age_45-54,age_55-64,age_65+,age_<25
0,Male,4,98.0,0,0,0,0,0
1,Male,3,77.0,1,0,0,0,0
2,Male,2,83.0,0,0,0,0,0
3,Male,1,80.0,0,0,0,0,1
4,Female,4,61.0,0,0,0,0,0

In [14]:
x = df.loc[:, ~df.columns.isin(['weight'])]
y = df['weight']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4,random_state=23) #splits the data into train (70%) and test (30%) data

Hallo Bob, op één of andere manier lukt het me niet om testdata te maken. Ik heb geprobeerd om verschillende manier, maar heb uiteindelijk de code van een vorige opdracht copy paste. Op één of andere manier lukt dit mij ook niet.

In [ ]:
x_test of y_test